<%= form_with(model: skater, local: true) do |form| %>
  <% if skater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skater.errors.count, "error") %> prohibited this skater from being saved:</h2>

      <ul>
      <% skater.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :href %>
    <%= form.text_field :href %>
  </div>

  <div class="field">
    <%= form.label :position_id %>
    <%= form.text_field :position_id %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id %>
  </div>

  <div class="field">
    <%= form.label :draft_season_id %>
    <%= form.text_field :draft_season_id %>
  </div>

  <div class="field">
    <%= form.label :skater_stat_id %>
    <%= form.text_field :skater_stat_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
