<h1>Skaters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Href</th>
      <th>Position</th>
      <th>Team</th>
      <th>Draft season</th>
      <th>Skater stat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skaters.each do |skater| %>
      <tr>
        <td><%= skater.name %></td>
        <td><%= skater.href %></td>
        <td><%= skater.position %></td>
        <td><%= skater.team %></td>
        <td><%= skater.draft_season %></td>
        <td><%= skater.skater_stat %></td>
        <td><%= link_to 'Show', skater %></td>
        <td><%= link_to 'Edit', edit_skater_path(skater) %></td>
        <td><%= link_to 'Destroy', skater, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skater', new_skater_path %>
