<p>
  <strong>Name:</strong>
  <%= @skater.name %>
</p>

<p>
  <strong>Href:</strong>
  <%= @skater.href %>
</p>

<p>
  <strong>Position:</strong>
  <%= link_to @skater.position.try(:name) , @skater.position %>
</p>

<p>
  <strong>Team:</strong>
  <%= link_to  @skater.team.try(:name), @skater.team %>
</p>

<p>
  <strong>Draft season:</strong>
  <%= link_to @skater.draft_season.try(:name), @skater.draft_season %>
</p>

<p>
  <strong>Country:</strong>
  <%= link_to @skater.country.try(:name), @skater.country %>
</p>

<%= link_to 'Update Skater Data', get_tpa_updates_skater_path(@skater), method: :post, class: 'btn btn-primary' %>

<p>
  <strong>Height:</strong>
  <%= @skater.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @skater.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @skater.age %>
</p>

<p>
  <strong>Skater stat:</strong>
  <%= link_to 'Skater Stats', @skater.skater_stat %>
</p>

<p>
  <strong>Ck:</strong>
  <%= @skater_stat.ck%>
</p>
<p>
  <strong>Sk:</strong>
  <%= @skater_stat.sk %>
</p>

<p>
  <strong>Fg:</strong>
  <%= @skater_stat.fg %>
</p>

<p>
  <strong>Di:</strong>
  <%= @skater_stat.di %>
</p>

<p>
  <strong>St:</strong>
  <%= @skater_stat.st %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @skater_stat.ph %>
</p>

<p>
  <strong>Fo:</strong>
  <%= @skater_stat.fo %>
</p>

<p>
  <strong>Pa:</strong>
  <%= @skater_stat.pa %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @skater_stat.sc %>
</p>

<p>
  <strong>Df:</strong>
  <%= @skater_stat.df %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @skater_stat.ps %>
</p>

<p>
  <strong>Ex:</strong>
  <%= @skater_stat.ex %>
</p>

<p>
  <strong>Ld:</strong>
  <%= @skater_stat.ld %>
</p>

<p>
  <strong>Tpa:</strong>
  <%= @skater_stat.tpa %>
</p>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Week Ending</th>
    <th scope="col">TPE</th>
  </tr>
  </thead>
  <tbody>
  <% @skater.skater_tpe_updates.each do |tpe| %>
  <tr>
    <td><%= tpe.week_ending %></td>
    <td><%= tpe.tpe%></td>
  </tr>
  <% end%>
  </tbody>
</table>


<%= link_to 'Edit', edit_skater_path(@skater) %> |
<%= link_to 'Back', skaters_path %>
