<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Href:</strong>
  <%= @team.href %>
</p>

<p>
  <strong>Simulation Url:</strong>
  <%= @team.simulation_url %>
</p>

<p>
  <strong>League:</strong>
  <%= @team.league.name %>
</p>

<%= link_to 'Update Team Lines Data', get_lines_update_team_path(@team), method: :post, class: 'btn btn-primary' %>

<div class="card-group">

<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header">Centers</div>
  <div class="card-body">
    <h5 class="card-title"><%= @team.center_total_tpa %> - <%= @team.center_avg_tpa%></h5>
    <p class="card-text">
      <% @team.centers.each do |skater| %>
        <div><%= link_to skater.name, skater%> - <%= skater.tpa %></div>
      <% end %>
    </p>
  </div>
</div>
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Left Wingers</div>
    <div class="card-body">
      <h5 class="card-title"><%= @team.left_wingers_total_tpa %> - <%= @team.left_wingers_avg_tpa%></h5>
      <p class="card-text">
        <% @team.left_wingers.each do |skater| %>
        <div><%= link_to skater.name, skater%> - <%= skater.tpa %></div>
      <% end %>
      </p>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Right Wingers</div>
    <div class="card-body">
      <h5 class="card-title"><%= @team.right_wingers_total_tpa %> - <%= @team.right_wingers_avg_tpa%></h5>
      <p class="card-text">
        <% @team.right_wingers.each do |skater| %>
        <div><%= link_to skater.name, skater%> - <%= skater.tpa %></div>
      <% end %>
      </p>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Defenders</div>
    <div class="card-body">
      <h5 class="card-title"><%= @team.defenders_total_tpa %> - <%= @team.defenders_avg_tpa%></h5>
      <p class="card-text">
        <% @team.defenders.each do |skater| %>
        <div><%= link_to skater.name, skater%> - <%= skater.tpa %></div>
      <% end %>
      </p>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Goalies</div>
    <div class="card-body">
      <h5 class="card-title"><%= @team.total_goalie_tpa %> - <%= @team.avg_goalie_tpa%></h5>
      <p class="card-text">
        <% @team.goalies.each do |goalie| %>
        <div><%= link_to goalie.name, goalie%> - <%= goalie.tpa %></div>
      <% end %>
      </p>
    </div>
  </div>
</div>

<div>
  <h4>Total Team TPA: <%= @team.total_team_tpa %></h4>
  <h4>Total Forward TPA: <%= @team.total_forward_tpa %></h4>
  <h4>Total Defense TPA: <%= @team.total_defender_tpa %></h4>
  <h4>Total Goalie TPA: <%= @team.total_goalie_tpa %></h4>
</div>

<div>
  <h5>Average Forward TPA: <%= @team.avg_forward_tpa %></h5>
  <h5>Average Defender TPA: <%= @team.avg_defender_tpa %></h5>
  <h5>Average Goalie TPA: <%= @team.avg_goalie_tpa %></h5>
</div>

<h3>5 vs 5 Forward</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Line #</th>
      <th scope="col">Left Wing</th>
      <th scope="col">Center</th>
      <th scope="col">Right Wing</th>
      <th scope="col">Time %</th>
      <th scope="col">PHY</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.five_vs_five_forwards.each do |line| %>
    <tr>
      <th><%= line.line_number %></th>
      <th><%= link_to(line.left_wing.name, line.left_wing) %></th>
      <th><%= link_to(line.center.name, line.center) %></th>
      <th><%= link_to(line.right_wing.name, line.right_wing) %></th>
      <th><%= line.time_percentage %>%</th>
      <th><%= line.phy %></th>
      <th><%= line.df %></th>
      <th><%= line.of %></th>
      <th><%= line.total_tpa %></th>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h3>5 vs 5 Defense</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Line #</th>
      <th scope="col">Left Defense</th>
      <th scope="col">Right Defense</th>
      <th scope="col">Time %</th>
      <th scope="col">PHY</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.five_vs_five_defenses.each do |line| %>
      <tr>
        <th><%= line.line_number %></th>
        <th><%= link_to(line.left_defense.name, line.left_defense) %></th>
        <th><%= link_to(line.right_defense.name, line.right_defense) %></th>
        <th><%= line.time_percentage %>%</th>
        <th><%= line.phy %></th>
        <th><%= line.df %></th>
        <th><%= line.of %></th>
        <th><%= line.total_tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h3>Power Play Forward</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Line #</th>
      <th scope="col">Left Wing</th>
      <th scope="col">Center</th>
      <th scope="col">Right Wing</th>
      <th scope="col">Time %</th>
      <th scope="col">PHY</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.power_play_forwards.each do |line| %>
      <tr>
        <th><%= line.line_number %></th>
        <th><%= link_to(line.left_wing.name, line.left_wing) %></th>
        <th><%= link_to(line.center.name, line.center) %></th>
        <th><%= link_to(line.right_wing.name, line.right_wing) %></th>
        <th><%= line.time_percentage %>%</th>
        <th><%= line.phy %></th>
        <th><%= line.df %></th>
        <th><%= line.of %></th>
        <th><%= line.total_tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h3>Power Play Defense</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Line #</th>
      <th scope="col">Left Defense</th>
      <th scope="col">Right Defense</th>
      <th scope="col">Time %</th>
      <th scope="col">PHY</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.power_play_defenses.each do |line| %>
      <tr>
        <th><%= line.line_number %></th>
        <th><%= link_to(line.left_defense.name, line.left_defense) %></th>
        <th><%= link_to(line.right_defense.name, line.right_defense) %></th>
        <th><%= line.time_percentage %>%</th>
        <th><%= line.phy %></th>
        <th><%= line.df %></th>
        <th><%= line.of %></th>
        <th><%= line.total_tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h3>Penalty Kill 4 Players Forward</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Line #</th>
      <th scope="col">Center</th>
      <th scope="col">Wing</th>
      <th scope="col">Time %</th>
      <th scope="col">PHY</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.penalty_kill_four_players_forwards.each do |line| %>
      <tr>
        <th><%= line.line_number %></th>
        <th><%= link_to(line.winger.name, line.winger) %></th>
        <th><%= link_to(line.center.name, line.center) %></th>
        <th><%= line.time_percentage %>%</th>
        <th><%= line.phy %></th>
        <th><%= line.df %></th>
        <th><%= line.of %></th>
        <th><%= line.total_tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h3>Penalty Kill 4 Players Defense</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Line #</th>
      <th scope="col">Left Defense</th>
      <th scope="col">Right Defense</th>
      <th scope="col">Time %</th>
      <th scope="col">PHY</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.penalty_kill_four_players_defenses.each do |line| %>
      <tr>
        <th><%= line.line_number %></th>
        <th><%= link_to(line.left_defense.name, line.left_defense) %></th>
        <th><%= link_to(line.right_defense.name, line.right_defense) %></th>
        <th><%= line.time_percentage %>%</th>
        <th><%= line.phy %></th>
        <th><%= line.df %></th>
        <th><%= line.of %></th>
        <th><%= line.total_tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h3>Penalty Kill 3 Players</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
    <th scope="col">Line #</th>
    <th scope="col">Wing</th>
    <th scope="col">Time %</th>
    <th scope="col">PHY</th>
    <th scope="col">DF</th>
    <th scope="col">OF</th>
    <th scope="col">Left Defense</th>
    <th scope="col">Right Defense</th>
    <th scope="col">Time %</th>
    <th scope="col">PHY</th>
    <th scope="col">DF</th>
    <th scope="col">OF</th>
    <th scope="col">Total TPA</th>
    </tr>
    </thead>
  <tbody>
    <% @team.penalty_kill_three_players.each do |line| %>
    <tr>
      <th><%= line.line_number %></th>
      <th><%= link_to(line.winger.name, line.winger) %></th>
      <th><%= line.winger_time_percentage %>%</th>
      <th><%= line.winger_phy %></th>
      <th><%= line.winger_df %></th>
      <th><%= line.winger_of %></th>
      <th><%= link_to(line.left_defense.name, line.left_defense) %></th>
      <th><%= link_to(line.right_defense.name, line.right_defense) %></th>
      <th><%= line.defense_time_percentage %>%</th>
      <th><%= line.defense_phy %></th>
      <th><%= line.defense_df %></th>
      <th><%= line.defense_of %></th>
      <th><%= line.total_tpa %></th>
    </tr>
  <% end %>
  </tbody>
  </table>

</div>
<h3>4 vs 4 Forward</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Line #</th>
      <th scope="col">Center</th>
      <th scope="col">Wing</th>
      <th scope="col">Time %</th>
      <th scope="col">PHY</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.four_vs_four_forwards.each do |line| %>
      <tr>
        <th><%= line.line_number %></th>
        <th><%= link_to(line.center.name, line.center) %></th>
        <th><%= link_to(line.winger.name, line.winger) %></th>
        <th><%= line.time_percentage %>%</th>
        <th><%= line.phy %></th>
        <th><%= line.df %></th>
        <th><%= line.of %></th>
        <th><%= line.total_tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h3>4 vs 4 Defense</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Line #</th>
      <th scope="col">Left Defense</th>
      <th scope="col">Right Defense</th>
      <th scope="col">Time %</th>
      <th scope="col">PHY</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.four_vs_four_defenses.each do |line| %>
      <tr>
        <th><%= line.line_number %></th>
        <th><%= link_to(line.left_defense.name, line.left_defense) %></th>
        <th><%= link_to(line.right_defense.name, line.right_defense) %></th>
        <th><%= line.time_percentage %>%</th>
        <th><%= line.phy %></th>
        <th><%= line.df %></th>
        <th><%= line.of %></th>
        <th><%= line.total_tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h3>Last Minutes Offensive</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Left Wing</th>
      <th scope="col">Center</th>
      <th scope="col">Right Wing</th>
      <th scope="col">Left Defense</th>
      <th scope="col">Right Defense</th>
      <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.last_minute_attacks.each do |line| %>
      <tr>
        <th><%= link_to(line.left_wing.name, line.left_wing) %></th>
        <th><%= link_to(line.center.name, line.center) %></th>
        <th><%= link_to(line.right_wing.name, line.right_wing) %></th>
        <th><%= link_to(line.left_defense.name, line.left_defense) %></th>
        <th><%= link_to(line.right_defense.name, line.right_defense) %></th>
        <th><%= line.total_tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h3>Last Minutes Defensive</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
    <th scope="col">Left Wing</th>
    <th scope="col">Center</th>
    <th scope="col">Right Wing</th>
    <th scope="col">Left Defense</th>
    <th scope="col">Right Defense</th>
    <th scope="col">Total TPA</th>
    </tr>
    </thead>
    <tbody>
    <% @team.last_minute_defends.each do |line| %>
      <tr>
        <th><%= link_to(line.left_wing.name, line.left_wing) %></th>
        <th><%= link_to(line.center.name, line.center) %></th>
        <th><%= link_to(line.right_wing.name, line.right_wing) %></th>
        <th><%= link_to(line.left_defense.name, line.left_defense) %></th>
        <th><%= link_to(line.right_defense.name, line.right_defense) %></th>
        <th><%= line.total_tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
