<h1>Leagues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td><%= link_to 'Show', league %></td>
        <td><%= link_to 'Edit', edit_league_path(league) %></td>
        <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New League', new_league_path %>
<div>
  <%= link_to 'Update Data', update_data_path, method: :post, class: 'btn btn-primary' %>
  <div>Last Updated On: <%= LastUpdate.find_or_create_by(name: 'VHM').try(:time).in_time_zone("Eastern Time (US & Canada)").strftime('%A, %B %e, %Y %I:%M %p') %> in Eastern Time (US & Canada)</div>
</div>
