<%= form_with(model: goalie, local: true) do |form| %>
  <% if goalie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goalie.errors.count, "error") %> prohibited this goalie from being saved:</h2>

      <ul>
      <% goalie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :href %>
    <%= form.text_field :href %>
  </div>

  <div class="field">
    <%= form.label :position_id %>
    <%= form.text_field :position_id %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id %>
  </div>

  <div class="field">
    <%= form.label :draft_season_id %>
    <%= form.text_field :draft_season_id %>
  </div>

  <div class="field">
    <%= form.label :goalie_stat_id %>
    <%= form.text_field :goalie_stat_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
