<h1>Goalies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Href</th>
      <th>Position</th>
      <th>Team</th>
      <th>Draft season</th>
      <th>Goalie stat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goalies.each do |goalie| %>
      <tr>
        <td><%= goalie.name %></td>
        <td><%= goalie.href %></td>
        <td><%= goalie.position %></td>
        <td><%= goalie.team %></td>
        <td><%= goalie.draft_season %></td>
        <td><%= goalie.goalie_stat %></td>
        <td><%= link_to 'Show', goalie %></td>
        <td><%= link_to 'Edit', edit_goalie_path(goalie) %></td>
        <td><%= link_to 'Destroy', goalie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New goalie', new_goalie_path %>
