<p>
  <strong>Name:</strong>
  <%= @goalie.name %>
</p>

<p>
  <strong>Href:</strong>
  <%= @goalie.href %>
</p>

<p>
  <strong>Position:</strong>
  <%= link_to @goalie.position.name, @goalie.position %>
</p>

<p>
  <strong>Team:</strong>
  <%= link_to @goalie.team.name, @goalie.team %>
</p>

<p>
  <strong>Draft season:</strong>
  <%= link_to @goalie.draft_season.name, @goalie.draft_season %>
</p>

<p>
  <strong>Country:</strong>
  <%= link_to @goalie.country.try(:name), @goalie.country %>
</p>

<p>
  <strong>Height:</strong>
  <%= @goalie.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @goalie.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @goalie.age %>
</p>

<p>
  <strong>Goalie stat:</strong>
  <%= link_to 'Stats', @goalie.goalie_stat %>
</p>

<%= link_to 'Update Goalie Data', get_tpa_updates_goalie_path(@goalie), method: :post, class: 'btn btn-primary' %>

<p>
  <strong>Sk:</strong>
  <%= @goalie_stat.sk %>
</p>

<p>
  <strong>Sz:</strong>
  <%= @goalie_stat.sz %>
</p>

<p>
  <strong>Ag:</strong>
  <%= @goalie_stat.ag %>
</p>

<p>
  <strong>Rb:</strong>
  <%= @goalie_stat.rb %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @goalie_stat.sc %>
</p>

<p>
  <strong>Hs:</strong>
  <%= @goalie_stat.hs %>
</p>

<p>
  <strong>Rt:</strong>
  <%= @goalie_stat.rt %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @goalie_stat.ph %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @goalie_stat.ps %>
</p>

<p>
  <strong>Ex:</strong>
  <%= @goalie_stat.ex %>
</p>

<p>
  <strong>Ld:</strong>
  <%= @goalie_stat.ld %>
</p>

<p>
  <strong>Tpa:</strong>
  <%= @goalie_stat.tpa %>
</p>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Week Ending</th>
    <th scope="col">TPE</th>
  </tr>
  </thead>
  <tbody>
  <% @goalie.goalie_tpe_updates.each do |tpe| %>
    <tr>
      <td><%= tpe.week_ending %></td>
      <td><%= tpe.tpe%></td>
    </tr>
  <% end%>
  </tbody>
</table>

<%= link_to 'Edit', edit_goalie_path(@goalie) %> |
<%= link_to 'Back', goalies_path %>
