<%= form_with(model: tpe_update, local: true) do |form| %>
  <% if tpe_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tpe_update.errors.count, "error") %> prohibited this tpe_update from being saved:</h2>

      <ul>
      <% tpe_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tpe %>
    <%= form.number_field :tpe %>
  </div>

  <div class="field">
    <%= form.label :week_ending %>
    <%= form.date_select :week_ending %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
