<h1>Tpe Updates</h1>

<table>
  <thead>
    <tr>
      <th>Tpe</th>
      <th>Week ending</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tpe_updates.each do |tpe_update| %>
      <tr>
        <td><%= tpe_update.tpe %></td>
        <td><%= tpe_update.week_ending %></td>
        <td><%= link_to 'Show', tpe_update %></td>
        <td><%= link_to 'Edit', edit_tpe_update_path(tpe_update) %></td>
        <td><%= link_to 'Destroy', tpe_update, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tpe Update', new_tpe_update_path %>
