<p>
  <strong>Tpe:</strong>
  <%= @tpe_update.tpe %>
</p>

<p>
  <strong>Week ending:</strong>
  <%= @tpe_update.week_ending %>
</p>

<%= link_to 'Edit', edit_tpe_update_path(@tpe_update) %> |
<%= link_to 'Back', tpe_updates_path %>
