<%= form_with(model: draft_season, local: true) do |form| %>
  <% if draft_season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(draft_season.errors.count, "error") %> prohibited this draft_season from being saved:</h2>

      <ul>
      <% draft_season.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
