<h1>Draft Seasons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @draft_seasons.each do |draft_season| %>
      <tr>
        <td><%= draft_season.name %></td>
        <td><%= link_to 'Show', draft_season %></td>
        <td><%= link_to 'Edit', edit_draft_season_path(draft_season) %></td>
        <td><%= link_to 'Destroy', draft_season, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Draft Season', new_draft_season_path %>
