<%= form_with(model: skater_stat, local: true) do |form| %>
  <% if skater_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skater_stat.errors.count, "error") %> prohibited this skater_stat from being saved:</h2>

      <ul>
      <% skater_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ck %>
    <%= form.number_field :ck %>
  </div>

  <div class="field">
    <%= form.label :fg %>
    <%= form.number_field :fg %>
  </div>

  <div class="field">
    <%= form.label :di %>
    <%= form.number_field :di %>
  </div>

  <div class="field">
    <%= form.label :sk %>
    <%= form.number_field :sk %>
  </div>

  <div class="field">
    <%= form.label :st %>
    <%= form.number_field :st %>
  </div>

  <div class="field">
    <%= form.label :ph %>
    <%= form.number_field :ph %>
  </div>

  <div class="field">
    <%= form.label :fo %>
    <%= form.number_field :fo %>
  </div>

  <div class="field">
    <%= form.label :pa %>
    <%= form.number_field :pa %>
  </div>

  <div class="field">
    <%= form.label :sc %>
    <%= form.number_field :sc %>
  </div>

  <div class="field">
    <%= form.label :df %>
    <%= form.number_field :df %>
  </div>

  <div class="field">
    <%= form.label :ps %>
    <%= form.number_field :ps %>
  </div>

  <div class="field">
    <%= form.label :ex %>
    <%= form.number_field :ex %>
  </div>

  <div class="field">
    <%= form.label :ld %>
    <%= form.number_field :ld %>
  </div>

  <div class="field">
    <%= form.label :tpa %>
    <%= form.number_field :tpa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
