<h1>Skater Stats</h1>

<table>
  <thead>
    <tr>
      <th>Sk</th>
      <th>Fg</th>
      <th>Di</th>
      <th>St</th>
      <th>Ph</th>
      <th>Fo</th>
      <th>Pa</th>
      <th>Sc</th>
      <th>Df</th>
      <th>Ps</th>
      <th>Ex</th>
      <th>Ld</th>
      <th>Tpa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skater_stats.each do |skater_stat| %>
      <tr>
        <td><%= skater_stat.sk %></td>
        <td><%= skater_stat.fg %></td>
        <td><%= skater_stat.di %></td>
        <td><%= skater_stat.st %></td>
        <td><%= skater_stat.ph %></td>
        <td><%= skater_stat.fo %></td>
        <td><%= skater_stat.pa %></td>
        <td><%= skater_stat.sc %></td>
        <td><%= skater_stat.df %></td>
        <td><%= skater_stat.ps %></td>
        <td><%= skater_stat.ex %></td>
        <td><%= skater_stat.ld %></td>
        <td><%= skater_stat.tpa %></td>
        <td><%= link_to 'Show', skater_stat %></td>
        <td><%= link_to 'Edit', edit_skater_stat_path(skater_stat) %></td>
        <td><%= link_to 'Destroy', skater_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skater Stat', new_skater_stat_path %>
