<p>
  <strong>Sk:</strong>
  <%= @skater_stat.sk %>
</p>

<p>
  <strong>Fg:</strong>
  <%= @skater_stat.fg %>
</p>

<p>
  <strong>Di:</strong>
  <%= @skater_stat.di %>
</p>

<p>
  <strong>St:</strong>
  <%= @skater_stat.st %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @skater_stat.ph %>
</p>

<p>
  <strong>Fo:</strong>
  <%= @skater_stat.fo %>
</p>

<p>
  <strong>Pa:</strong>
  <%= @skater_stat.pa %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @skater_stat.sc %>
</p>

<p>
  <strong>Df:</strong>
  <%= @skater_stat.df %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @skater_stat.ps %>
</p>

<p>
  <strong>Ex:</strong>
  <%= @skater_stat.ex %>
</p>

<p>
  <strong>Ld:</strong>
  <%= @skater_stat.ld %>
</p>

<p>
  <strong>Tpa:</strong>
  <%= @skater_stat.tpa %>
</p>

<%= link_to 'Edit', edit_skater_stat_path(@skater_stat) %> |
<%= link_to 'Back', skater_stats_path %>
