<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Abbr:</strong>
  <%= @country.abbr %>
</p>

Skaters
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">TPE</th>
    </tr>
    </thead>
    <tbody>
    <% @country.skaters.each do |skater| %>
      <tr>
        <th><%= skater.name %></th>
        <th><%= skater.position.name %></th>
        <th><%= skater.tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

Goalies
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">TPE</th>
    </tr>
    </thead>
    <tbody>
    <% @country.goalies.each do |skater| %>
      <tr>
        <th><%= skater.name %></th>
        <th><%= skater.position.name %></th>
        <th><%= skater.tpa %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
