<%= form_with(model: goalie_stat, local: true) do |form| %>
  <% if goalie_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goalie_stat.errors.count, "error") %> prohibited this goalie_stat from being saved:</h2>

      <ul>
      <% goalie_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sk %>
    <%= form.number_field :sk %>
  </div>

  <div class="field">
    <%= form.label :sz %>
    <%= form.number_field :sz %>
  </div>

  <div class="field">
    <%= form.label :ag %>
    <%= form.number_field :ag %>
  </div>

  <div class="field">
    <%= form.label :rb %>
    <%= form.number_field :rb %>
  </div>

  <div class="field">
    <%= form.label :sc %>
    <%= form.number_field :sc %>
  </div>

  <div class="field">
    <%= form.label :hs %>
    <%= form.number_field :hs %>
  </div>

  <div class="field">
    <%= form.label :rt %>
    <%= form.number_field :rt %>
  </div>

  <div class="field">
    <%= form.label :ph %>
    <%= form.number_field :ph %>
  </div>

  <div class="field">
    <%= form.label :ps %>
    <%= form.number_field :ps %>
  </div>

  <div class="field">
    <%= form.label :ex %>
    <%= form.number_field :ex %>
  </div>

  <div class="field">
    <%= form.label :ld %>
    <%= form.number_field :ld %>
  </div>

  <div class="field">
    <%= form.label :tpa %>
    <%= form.number_field :tpa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
