<h1>Goalie Stats</h1>

<table>
  <thead>
    <tr>
      <th>Sk</th>
      <th>Sz</th>
      <th>Ag</th>
      <th>Rb</th>
      <th>Sc</th>
      <th>Hs</th>
      <th>Rt</th>
      <th>Ph</th>
      <th>Ps</th>
      <th>Ex</th>
      <th>Ld</th>
      <th>Tpa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goalie_stats.each do |goalie_stat| %>
      <tr>
        <td><%= goalie_stat.sk %></td>
        <td><%= goalie_stat.sz %></td>
        <td><%= goalie_stat.ag %></td>
        <td><%= goalie_stat.rb %></td>
        <td><%= goalie_stat.sc %></td>
        <td><%= goalie_stat.hs %></td>
        <td><%= goalie_stat.rt %></td>
        <td><%= goalie_stat.ph %></td>
        <td><%= goalie_stat.ps %></td>
        <td><%= goalie_stat.ex %></td>
        <td><%= goalie_stat.ld %></td>
        <td><%= goalie_stat.tpa %></td>
        <td><%= link_to 'Show', goalie_stat %></td>
        <td><%= link_to 'Edit', edit_goalie_stat_path(goalie_stat) %></td>
        <td><%= link_to 'Destroy', goalie_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goalie Stat', new_goalie_stat_path %>
