<p>
  <strong>Sk:</strong>
  <%= @goalie_stat.sk %>
</p>

<p>
  <strong>Sz:</strong>
  <%= @goalie_stat.sz %>
</p>

<p>
  <strong>Ag:</strong>
  <%= @goalie_stat.ag %>
</p>

<p>
  <strong>Rb:</strong>
  <%= @goalie_stat.rb %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @goalie_stat.sc %>
</p>

<p>
  <strong>Hs:</strong>
  <%= @goalie_stat.hs %>
</p>

<p>
  <strong>Rt:</strong>
  <%= @goalie_stat.rt %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @goalie_stat.ph %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @goalie_stat.ps %>
</p>

<p>
  <strong>Ex:</strong>
  <%= @goalie_stat.ex %>
</p>

<p>
  <strong>Ld:</strong>
  <%= @goalie_stat.ld %>
</p>

<p>
  <strong>Tpa:</strong>
  <%= @goalie_stat.tpa %>
</p>

<%= link_to 'Edit', edit_goalie_stat_path(@goalie_stat) %> |
<%= link_to 'Back', goalie_stats_path %>
